<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <h1>Add a review about Holdlamis Car Dealership</h1>
        <form action="{% url 'djangoapp:add_review' dealer_id %}" method="post">
            {% csrf_token %}
            <textarea style="margin-top:20px;margin-bottom: 10px" class="form-control" id="content" name="content" rows="2" required></textarea>
            
            <label for="purchasecheck">Purchased from this dealer?</label>
            <input class="form-check-input" style="margin-left:10px" type="checkbox" name="purchasecheck" id="purchasecheck">
            <label style="margin-left:50px" for="car">Select a car:</label>
            <select name="car" id="car" class="form-select" required>
                {% for car in cars %}
                    <option value="{{ car.make }} - {{ car.model }} - {{ car.year }}">{{ car.make }} - {{ car.model }} - {{ car.year }}</option>
                {% endfor %}
            </select>
            
            <br>
            <label for="purchasedate">Purchase Date:</label>
            <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
            
            <input type="submit" style="margin-top:20px" value="Submit Review">
        </form>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

        <script type="text/javascript">
            jQuery('.date-own').datepicker({
                format: 'mm/dd/yyyy'
            });
        </script>        
    </body>
</html>